html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.mainContent {
    width: 100%;
    height: 100%;
    background-color: #116336;
    background: -moz-radial-gradient(center, ellipse cover, #16A757 0%, #116336 85%);
    background: -webkit-radial-gradient(center, ellipse cover, #16A757 0%, #116336 85%);
    background: radial-gradient(ellipse at center, #16A757 0%, #116336 85%);
}

.outerContent {
    padding: 2% 10%;
    height: 96%;
}

.innerContent {
    height: 100%;
    border: 5px solid #787833;
}

.boxes {
    /* grid-template-columns: 1fr 1fr; */
    display: grid;
    /* place-items: center; */
    margin-top: 50%;
    justify-content: space-evenly;
    grid-auto-flow: column;
}

.boxDesign {
    border: 4px solid #787833;
    border-radius: 10px;
    grid-template-rows: 1fr 1fr;
    display: grid;
    min-width: 100px;
}

.vsBox{
    padding: 10px;
    text-align: center;
}

.playWithButton{
    background: #787833;
    padding:5px 10px;
    text-align: center;
    cursor: pointer;
}